{% extends 'base.html.twig' %}

{% block title %}Pourquoi investir au Maroc{% endblock %}

{% block body %}
<div class="clearfix"></div>
<!-- Header Container / End -->



<!-- Content
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Pourquoi investir au Maroc ?</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Acceuil</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

<!-- Post Content -->
<div class="container">
	<div class="row">
		
		<!-- Inner Content -->
		<div class="col-xl-12 col-lg-12">
			<!-- Blog Post -->
			<div class="blog-post single-post">

				<!-- Blog Post Thumbnail -->
				<div class="blog-post-thumbnail">
					<div class="blog-post-thumbnail-inner">
						<span class="blog-item-tag">Tips</span>
						<img src="images/blog-04.jpg" alt="">
					</div>
				</div>

				<!-- Blog Post Content -->
				<div class="blog-post-content">
					<h3 class="margin-bottom-10">Pourquoi investir au Maroc</h3>

					<div class="blog-post-info-list margin-bottom-20">
						<a href="#" class="blog-post-info">19 septembre 2020</a>
					</div>
					<p>Pays de contrastes, entre déserts et plaines verdoyantes, modernité et tradition, le Maroc séduit les Européens en quête de dépaysement, de soleil, de culture et de saveurs orientales.</p>
					<p>Destination de vacances idéales, le pays, en plein essor économique, offre aussi de nombreuses opportunités aux investisseurs. Il cumule en effet de nombreux avantages. Il se trouve tout d’abord à trois heures en moyenne des capitales du vieux continent. Une proximité qui permet de fréquents aller-retour avec l’Europe à des prix raisonnables : les compagnies aériennes proposent des tarifs très abordables. Sur place, le niveau de vie se révèle ensuite beaucoup moins élevé qu’en Europe, donnant à ses ressortissants un pouvoir d’achat plus important. C’est particulièrement vrai dans le domaine immobilier. Les prix du bâti restent très intéressants, ainsi que celui de la main d’œuvre.Côté fiscalité, le système marocain se montre favorable, notamment pour les retraités, et offre des garanties réelles sur le transfert des capitaux investis et des plus values. Enfin, le Maroc est un pays stable politiquement et économiquement.</p>
					<h4 style="color: green">1 – Une fiscalité attrayante </h4>
					<p>Au Maroc, l’impôt sur la fortune ainsi que les droits de succession n’existe pas. Mais les avantages fiscaux ne s’arrêtent pas là. Les retraités étrangers résidents au Maroc bénéficient d’une réduction de 80% du montant de l’impôt dû au titre de leur pension, correspondant aux sommes transférées à titre définitif en dirhams.</p>
					<h4 style="color: green">2 – Un investissement simple et rapidement rémunérateur</h4>
					<ul>
						<li>Le Maroc est un pays en plein développement économique.Les fonds investis aujourd’hui prendront dès demain de la valeur et offriront donc une belle plus value.</li>
						<li>Les modalités et règles d’achat d’un bien immobilier au Maroc, qu’il s’agisse d’un appartement, d’un commerce ou même d’un terrain, sont sensiblement les mêmes qu’en Europe. En effet, dans ce domaine, les lois marocaines s’inspirent largement du modèle français.</li>
						<li>La libre convertibilité du dirham organisée par la loi cadre n°18-95 garantit et facilite pour les étrangers la réalisation d’opérations d’investissement au Maroc, le transfert des revenus engendrés par ledit investissement et celui du produit de sa cession ou de sa liquidation.</li>
						<li>Afin de financer l’achat ou la construction de biens immobiliers, les personnes étrangères non-résidentes ont la possibilité d’obtenir des crédits en monnaie locale de la part des banques marocaines.</li>
						<li>Ajoutons que le Maroc a encouragé et favorisé la construction de logements sociaux afin de rendre possible l’accession à la propriété pour le plus grand nombre.</li>
					</ul>
					<h4 style="color: green">3- Un investissement accessible</h4>
					<p>En termes de rapport surface/prix, les biens immobiliers marocains sont nettement plus intéressants que leurs équivalents européens. À cet excellent rapport s’ajoute une qualité de prestations appréciable.</p>
					<p>Aujourd’hui, les meilleures opportunités sont sans doute les terrains non bâtis, qui peuvent être exploités dans le domaine de l’agriculture bien sûr, ou dans celui du tourisme. Le Maroc recèle encore en effet de nombreuses étendues vierges de toutes constructions, au cœur de magnifiques paysages.</p>
					<p>Dans la région du Moyen Atlas par exemple, il existe peu d’infrastructures touristiques, pour permettre aux amateurs de profiter des atouts locaux. C’est donc le moment idéal pour y développer des gîtes ruraux, des refuges de montagne ou pourquoi pas des restaurants gastronomiques, tant les environs regorgent de savoureux poissons d’eau douce.</p>
					<p>Autant de projets qui peuvent s’inscrire dans une démarche durable et solidaire, à  laquelle les Européens sont de plus en plus sensibles, afin de protéger cette nature encore préservée et l’équilibre de vie des populations locales.</p>

					<h4 style="color: green">4 - Le Maroc : un pays stable politiquement et économiquement.</h4>
					<ul>
						<li>En Afrique, où la situation géo-politique est explosive, le Maroc fait figure d’exception. Depuis son indépendance, ce pays s’est employé à développer une société démocratique et libérale, ouverte sur l’économie de marché et fondée sur l’État de droit. Sous l’impulsion du roi Mohammed VI et de ses prédécesseurs, cette monarchie constitutionnelle s’est formellement engagée à respecter la charte universelle des droits des Hommes (égalité homme/femme, droit à l’éducation, droit de grève, de propriété…), et garantir les libertés fondamentales individuelles et collectives (liberté de circuler, liberté d’opinion, d’expression, de réunion, d’association…). Elle assure également la sécurité de tous.</li>
						<li>Depuis quelques années, le gouvernement marocain s’est efforcé d’améliorer la compétitivité de son pays dans l’environnement mondial concurrentiel. Il a ainsi conclu des accords commerciaux avec de nombreux Etats dans tous les continents (Europe, USA, Afrique, Moyen-Orient…), afin de doper ses exportations et attirer les fonds étrangers. Des efforts couronnés de succès si l’on en juge par les chiffres de ses performances, tant en termes de croissance, de finances publiques que d’investissements extérieurs.</li>
						<li>Son PIB n’a cessé d’augmenter depuis l’an 2000, avec un taux de croissance moyen de 5,6 % sur la période 2002-2006. En 2007, le PIB atteignait 72, 5 milliards de $ US (65,7 milliards de $ US en 2006). Peu touché par la crise, en raison notamment du dynamisme, de la stabilité de son économie et du faible échange de capitaux entre ses banques et les principales places boursières américaines et européennes, le Maroc table pour 2009 sur 5,8 % de croissance (6,6 en 2012).</li>
						<li>Son taux d’endettement extérieur a été divisé de plus de moitié en seulement 7 ans. Entre 1999 et 2006, il est passé de 51,4 % du PIB à 25 %.</li>
						<li>La balance des paiements marocaine est excédentaire depuis 2000, avec des réserves en devises équivalentes à 23 milliards de $ US en 2007. Ces devises proviennent entre autres des envois de fonds des Marocains résidents à l’étranger, du tourisme et des investissements étrangers directs.</li>
						<li>Les avoirs extérieurs nets de la Bank Al Maghrib (l’équivalent de la Banque de France) représentent aujourd’hui 180 milliards de dirhams, soit 130 % de la dette extérieure.</li>
					</ul>
					<p><i>Tous ces éléments, politiques et économiques, représentent autant de garanties pour les investisseurs sur la stabilité, le dynamisme et la pérennité de leurs biens.</i></p>
					<h4 style="color: green">5 - Un marché dynamique</h4>
					<p>Carrefour commercial entre l’Afrique, l’Europe et le monde Arabe, le Maroc possède de nombreuses ressources naturelles et un marché intérieur de près de 30 millions d’habitants, de plus en plus formés et dont les habitudes de consommation sont en train de changer. De quoi espérer de belles perspectives de croissance économique.</p>
					<ul>
						<li><b>Une main d’œuvre jeune, bien formée et bon marché</b></li>
					</ul>
					<p>Au Maroc, les 15-34 représentent plus de la moitié de la population, qui devrait progresser de plus de 2.5 % par an d’ici à 2010 selon l’organisation internationale du travail. Comme leurs aînés, les jeunes Marocains se révèlent particulièrement douée pour les langues. 30 % d’entre eux se débrouillent en français, et parmi eux, 1/3 encore possède des rudiments en espagnol ou en anglais.</p>
					<p>Le travail est organisé comme suit</p>
					<ol>
						<li>la durée légale hebdomadaire est de 44 heures (35 h en France)</li>
						<li>les salariés bénéficient de 18 jours de congés payés (25 jours en France)</li>
					</ol>

					<p><i> La main d’œuvre marocaine se caractérise ainsi par sa jeunesse, son aptitude à communiquer, son faible coût et sa productivité selon l’avis même des investisseurs étrangers installés au Maroc.</i></p>

					<!-- Share Buttons -->
					<div class="share-buttons margin-top-25">
						<div class="share-buttons-trigger"><i class="icon-feather-share-2"></i></div>
						<div class="share-buttons-content">
							<span>Interesting? <strong>Share It!</strong></span>
							<ul class="share-buttons-icons">
								<li><a href="#" data-button-color="#3b5998" title="Share on Facebook" data-tippy-placement="top"><i class="icon-brand-facebook-f"></i></a></li>
								<li><a href="#" data-button-color="#1da1f2" title="Share on Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
								<li><a href="#" data-button-color="#dd4b39" title="Share on Google Plus" data-tippy-placement="top"><i class="icon-brand-google-plus-g"></i></a></li>
								<li><a href="#" data-button-color="#0077b5" title="Share on LinkedIn" data-tippy-placement="top"><i class="icon-brand-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Blog Post Content / End -->
			{#
			<!-- Blog Nav -->
			<ul id="posts-nav" class="margin-top-0 margin-bottom-40">
				<li class="next-post">
					<a href="#">
						<span>Next Post</span>
						<strong>16 Ridiculously Easy Ways to Find & Keep a Remote Job</strong>
					</a>
				</li>
				<li class="prev-post">
					<a href="#">
						<span>Previous Post</span>
						<strong>11 Tips to Help You Get New Clients Through Cold Calling</strong>
					</a>
				</li>
			</ul>
			#}
			{#
			<!-- Related Posts -->
			<div class="row">
				
				<!-- Headline -->
				<div class="col-xl-12">
					<h3 class="margin-top-40 margin-bottom-35">Related Posts</h3>
				</div>

				<!-- Blog Post Item -->
				<div class="col-xl-6">
					<a href="pages-blog-post.html" class="blog-compact-item-container">
						<div class="blog-compact-item">
							<img src="images/blog-02a.jpg" alt="">
							<span class="blog-item-tag">Recruiting</span>
							<div class="blog-compact-item-content">
								<ul class="blog-post-tags">
									<li>29 June 2018</li>
								</ul>
								<h3>How to "Woo" a Recruiter and Land Your Dream Job</h3>
								<p>Appropriately empower dynamic leadership skills after business portals. Globally myocardinate interactive.</p>
							</div>
						</div>
					</a>
				</div>
				<!-- Blog post Item / End -->

				<!-- Blog Post Item -->
				<div class="col-xl-6">
					<a href="pages-blog-post.html" class="blog-compact-item-container">
						<div class="blog-compact-item">
							<img src="images/blog-03a.jpg" alt="">
							<span class="blog-item-tag">Marketing</span>
							<div class="blog-compact-item-content">
								<ul class="blog-post-tags">
									<li>10 June 2018</li>
								</ul>
								<h3>11 Tips to Help You Get New Clients Through Cold Calling</h3>
								<p>Compellingly embrace empowered e-business after user friendly intellectual capital. Interactively front-end.</p>
							</div>
						</div>
					</a>
				</div>
				<!-- Blog post Item / End -->
			</div>
			<!-- Related Posts / End -->
			#}	
			{#
			<!-- Comments -->
			<div class="row">
				<div class="col-xl-12">
					<section class="comments">
					<!-- 	<h3 class="margin-top-45 margin-bottom-0">Comments <span class="comments-amount">(5)</span></h3> -->

						<ul>
							<li>
								<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
								<div class="comment-content"><div class="arrow-comment"></div>
									<div class="comment-by">Kathy Brown<span class="date">19 septembre 2020</span>
										<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
									</div>
									<p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
								</div>

								<ul>
									<li>
										<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
										<div class="comment-content"><div class="arrow-comment"></div>
											<div class="comment-by">Tom Smith<span class="date">12th, June 2018</span>
												<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
											</div>
											<p>Rrhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque.</p>
										</div>
									</li>
									<li>
										<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
										<div class="comment-content"><div class="arrow-comment"></div>
											<div class="comment-by">Kathy Brown<span class="date">12th, June 2018</span>
												<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
											</div>
											<p>Nam posuere tristique sem, eu ultricies tortor.</p>
										</div>

										<ul>
											<li>
												<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
												<div class="comment-content"><div class="arrow-comment"></div>
													<div class="comment-by">John Doe<span class="date">12th, June 2018</span>
														<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
													</div>
													<p>Great template!</p>
												</div>
											</li>
										</ul>

									</li>
								</ul>

							</li>

							<li>
								<div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""> </div>
								<div class="comment-content"><div class="arrow-comment"></div>
									<div class="comment-by">John Doe<span class="date">15th, May 2015</span>
										<a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
									</div>
									<p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
								</div>

							</li>
						 </ul>

					</section>
				</div>
			</div>
			<!-- Comments / End -->


			<!-- Leava a Comment -->
			<div class="row">
				<div class="col-xl-12">
					
					<h3 class="margin-top-35 margin-bottom-30">Add Comment</h3>

					<!-- Form -->
					<form method="post" id="add-comment">

						<div class="row">
							<div class="col-xl-6">
								<div class="input-with-icon-left no-border">
									<i class="icon-material-outline-account-circle"></i>
									<input type="text" class="input-text" name="commentname" id="namecomment" placeholder="Name" required/>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="input-with-icon-left no-border">
									<i class="icon-material-baseline-mail-outline"></i>
									<input type="text" class="input-text" name="emailaddress" id="emailaddress" placeholder="Email Address" required/>
								</div>
							</div>
						</div>

						<textarea  name="comment-content" cols="30" rows="5" placeholder="Comment"></textarea>
					</form>
					
					<!-- Button -->
					<button class="button button-sliding-icon ripple-effect margin-bottom-40" type="submit" form="add-comment">Add Comment <i class="icon-material-outline-arrow-right-alt"></i></button>
					
				</div>
			</div>
			<!-- Leava a Comment / End -->
			#}
		</div>
		<!-- Inner Content / End -->

		{#
		<div class="col-xl-4 col-lg-4 content-left-offset">
			<div class="sidebar-container">
				
				<!-- Location -->
				<div class="sidebar-widget margin-bottom-40">
					<div class="input-with-icon">
						<input id="autocomplete-input" type="text" placeholder="Search">
						<i class="icon-material-outline-search"></i>
					</div>
				</div>

				<!-- Widget -->
				<div class="sidebar-widget">

					<h3>Trending Posts</h3>
					<ul class="widget-tabs">

						<!-- Post #1 -->
						<li>
							<a href="#" class="widget-content active">
								<img src="images/blog-02a.jpg" alt="">
								<div class="widget-text">
									<h5>How to "Woo" a Recruiter and Land Your Dream Job</h5>
									<span>29 June 2018</span>
								</div>
							</a>
						</li>

						<!-- Post #2 -->
						<li>
							<a href="#" class="widget-content">
								<img src="images/blog-07a.jpg" alt="">
								<div class="widget-text">
									<h5>What It Really Takes to Make $100k Before You Turn 30</h5>
									<span>3 June 2018</span>
								</div>
							</a>
						</li>
						<!-- Post #3 -->
						<li>
							<a href="#" class="widget-content">
								<img src="images/blog-04a.jpg" alt="">
								<div class="widget-text">
									<h5>5 Myths That Prevent Job Seekers from Overcoming Failure</h5>
									<span>5 June 2018</span>
								</div>
							</a>
						</li>
					</ul>

				</div>
				<!-- Widget / End-->


				<!-- Widget -->
				<div class="sidebar-widget">
					<h3>Social Profiles</h3>
					<div class="freelancer-socials margin-top-25">
						<ul>
							<li><a href="#" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-dribbble"></i></a></li>
							<li><a href="#" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
							<li><a href="#" title="Behance" data-tippy-placement="top"><i class="icon-brand-behance"></i></a></li>
							<li><a href="#" title="GitHub" data-tippy-placement="top"><i class="icon-brand-github"></i></a></li>
						</ul>
					</div>
				</div>

				<!-- Widget -->
				<div class="sidebar-widget">
					<h3>Tags</h3>
					<div class="task-tags">
						<a href="#"><span>employer</span></a>
						<a href="#"><span>recruiting</span></a>
						<a href="#"><span>work</span></a>
						<a href="#"><span>salary</span></a>
						<a href="#"><span>tips</span></a>
						<a href="#"><span>income</span></a>
						<a href="#"><span>application</span></a>
					</div>
				</div>

			</div>
		</div>
		#}
	</div>
</div>

<!-- Spacer -->
<div class="padding-top-40"></div>
<!-- Spacer -->

{% endblock %}
